body {
    font-family: verdana;
    font-size: .92em;
}

.column {
    position: absolute;
    top: 1%;
    height: 99%;
}

#left-col {
	width: 33%;
    overflow: hidden;
}

#middle-col {
    left: 35%;
	width: 25%;
}

#right-col {
    left: 62%;
	width: 38%;
}

#stage {
	background-color: black;
	height: 80%;
	text-align: center;
}

#controls {
	margin: 0 auto;
    display: table
}

#solutionBox {
    width: 100%;
    height: 20%;
}

.small-num {
    width: 3em;
}

#instructions {
    position: absolute;
    bottom: 20%;
}

#arrowKeysIcon {
    width: 30px;
    margin-bottom: -3px;
}

#spacebar {
    width: 42px;
    margin-bottom: -3px;
}

iframe#runeapps {
    width: 95%;
    height: 95%;
}
